<!DOCTYPE html>
<html>
<head>
  <title>DynamicImage</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
